*{
    font-family: "Inter";
}

body{
    color: #111;
}

header{
    padding: 0 90px;
}

.navbar{
    background-color: #fff;
    padding: 0;
    height: 70px;
}

.container-fluid{
    background-color: #fff;
    padding: 0;
}

.bg-body-tertiary {
    --bs-bg-opacity: 0;
}

.navbar-nav{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar-flex{
    justify-content: flex-end;
}

.form-control{
    display: none;
}

.d-flex{
    display: flex;
    align-items: center;
}

.nav_input{
    display: none;
    border: 1px solid #111111;
    border-radius: 8px;
    padding-left: 5px;
}

.nav_input.active{
    display: block;
}

.btn-outline-success {
    --bs-btn-active-bg: #19875400;
}

.btn:hover {
    color: #111;
    background-color: #fff;
    border-color: #fff;
}

[type=search] {
    outline-offset: 0px; 
}

.search{
    width: 20px;
    height: 20px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* main */


.main{
    font-family: "Inter";
    display: flex;
    background-color: #DCC1AB;
}

.main_block{
    width: 57%;
    padding: 150px 0 0 90px;
}

.block_inf>h2{
    font-family: "Montserrat";
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 44px;
}

.block_inf>p{
    font-size: 16px;
    margin-bottom: 72px;
}

.block_btn{
    display: flex;
}

.btn_kontakt{
    padding: 14px 24px;
    border-radius: 50px;
    border: 1px solid #1B5B31;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1B5B31;
    margin-right: 36px;
    transition: 0.15s ease-in-out;
}

.btn_kontakt:hover{
    background-color: #1B5B31;
    color: #F5F0EC;
    transition: 0.15s ease-in-out;
}

.btn_realizacje{
    text-decoration: none;
    padding: 14px 24px;
    border-radius: 50px;
    border: 1px solid #1B5B31;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1B5B31;
    margin-right: 36px;
    transition: 0.15s ease-in-out;
}

.btn_realizacje:hover{
    background-color: #1B5B31;
    color: #F5F0EC;
    transition: 0.15s ease-in-out;
}

.carousel-item{
    display: flex;
}

.carousel-item.active{
    display: flex; 
}

.main_block-image{
    width: 47%;
    display: flex;
}

.main_block-image>img {
    height: 800px;
    max-height: 800px;
}

.carousel__control-prev{
    right: 90px;
}

.carousel__control-next{
    right: 0px;
}

.carousel__control-next, .carousel__control-prev{
    position: absolute;
    z-index: 1;
    bottom: 0px;
    height: 100px;
    background-color: #F5F0EC;
    width: 90px;
    padding: 0;
    text-align: center;
    opacity: 1;
    border: 0;
    transition: 0.5s;
    transition: opacity 0.5s ease;
}

.carousel__control-next:hover, .carousel__control-prev:hover{
    opacity: 0.9;
    transition: opacity 0.5s ease;
}

.carousel__control-next>img{
    transform: rotate(180deg);
}



/* oferta */

.oferta{
    background-color: #F5F0EC;
    padding: 120px 0 160px;
}

.oferta_text{
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.oferta_subtitle{
    font-weight: 400;
    font-size: 12px;
    color: #1B5B31;
}

.oferta_title{
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 48px;
    display: flex;
}

.oferta_title>p{
    font-family: "Inter";
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
}

.oferta_desc{
    margin: 32px 0 96px;
    font-size: 16px;
}

.block_card{
    width: 100%;
    padding: 0 90px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card{
    display: flex;
    align-items: flex-start;
    width: 25%;
    padding: 50px 28px;
    background-color: #fff;
    color: #111;
    text-decoration: none;
    border: 0;
    border-radius: 28px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.card:hover{
    background-color: #fff;
    color: #111111;
    transform: scale(1.03);
    -webkit-box-shadow: 0px 0px 73px -16px rgba(16, 11, 9, 0.39);
    -moz-box-shadow: 0px 0px 73px -16px rgba(16, 11, 9, 0.39);
    box-shadow: 0px 0px 73px -16px rgba(16, 11, 9, 0.39);
    transition: 0.5s ease-in-out;
}

.btn-check:checked+.btn, 
.btn.active, .btn.show, 
.btn:first-child:active, 
:not(.btn-check)+.btn:active {
    background-color: #fff;
    color: #111111;
}

.btn-check:checked+.btn:focus-visible, 
.btn.active:focus-visible, 
.btn.show:focus-visible, 
.btn:first-child:active:focus-visible, 
:not(.btn-check)+.btn:active:focus-visible {
    -webkit-box-shadow: 0px 0px 73px -16px rgba(16, 11, 9, 0.39);
    -moz-box-shadow: 0px 0px 73px -16px rgba(16, 11, 9, 0.39);
    box-shadow: 0px 0px 73px -16px rgba(16, 11, 9, 0.39);
}

.btn:focus-visible {
    background-color: #fff;
    color: #111111;
    border-color: none;
    outline: 0;
    box-shadow: 0px 0px 73px -16px rgba(16, 11, 9, 0.39);
}

.card>img{
    width: 44px;
    height: 44px;
    margin-bottom: 32px;
}

.card>h4{
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 12px;
}

.card>p{
    font-size: 14px;
    margin-bottom: 63px;
}

.card_btn{
    color: #1B5B31;
}

.card_btn-text{
    margin-bottom: 4px;
}

.card_btn-underline{
    width: 100%;
    height: 1px;
    border-top: 1px solid #1B5B31;
}

/* aboutus */

.aboutus{
    width: 100%;
    display: flex; 
    background-color: #1B5B31;  
}

.aboutus_image{
    width: 45%;
    background-image: url(../img/Photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutus_info{
    width: 55%;
    padding: 135px 90px 135px 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.aboutus_subtitle{
    font-size: 12px;
    color: #F5F0EC;
    margin-bottom: 16px;
}

.aboutus_title{
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 48px;
    line-height: 115%;
    margin-bottom: 40px;
    color: #F5F0EC;
}

.aboutus_title>i{
    font-family: "Inter";
    font-style: italic;
    color: #F5F0EC;
}

.aboutus_desc{
    font-size: 16px;
    margin-bottom: 72px;
    color: #F5F0EC;
}

.aboutus_btn{
    padding: 14px 24px;
    border-radius: 50px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: 36px;    
    transition: 0.15s ease-in-out;
}

.aboutus_btn:hover{
    color: #1B5B31;
    background-color: #fff;
    transition: 0.15s ease-in-out;
}

/* Realizacje */

.realizacje{
    background-color: #DCC1AB;
    padding-top: 120px;
}

.realizacje_text{
    margin: 0 0 96px 160px;
}

.realizacje_text>p{
    font-size: 12px;
    color: #1B5B31;
    margin-bottom: 16px;
}

.realizacje_title{
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 48px;
    line-height: 115%;
}

.realizacje_title>i{
    font-family: "Inter";
    font-style: italic;
}

.grid__block{
    width: 100%;
    height: 1519px;
    margin: auto;
    position: relative;
    padding-bottom: 90px;
    overflow: hidden;
    transition: 0.5s ease;
}

.grid__block.active{
    height: auto;
    transition: 0.5s ease;
    padding-bottom: 30px;
}

.grid{
    width: 1440px;
    margin: auto;
}

.grid_item{
    width: 450px;
    margin-bottom: 40px;
}

.grid_item-image{
    width: 100%;

}

.open_grid{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: linear-gradient(360deg, #DCC1AB 0%, rgba(214, 183, 158, 0.00) 100%);
    z-index: 2;
    height: 1000px;    
    padding-bottom: 90px;
}

.open_grid.active{
    height: auto;
    padding-bottom: 30px;
}

.open_grid-btn{
    background-color: none;
    padding: 13px 22px;
    border-radius: 50px;
    color: #111111;
    border: 1px solid #111111;
    transition: 0.15s ease-in-out;
}


.open_grid-btn:hover{
    background-color: #111111;
    color: #F5F0EC;
    transition: 0.15s ease-in-out;
}

/* inst */

.inst{
    padding: 60px 200px;
    background-color: #F5F0EC;
}

.inst_block{
    background-color: #1B5B31;
    padding: 120px 110px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.inst_title{
    font-family: "Montserrat";
    font-size: 40px;
    color: #F5F0EC;
}

.inst_title>i{
    font-family: "Inter";
    font-style: italic;
    color: #F5F0EC;
}

.inst_subtitle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inst_subtitle>p{
    color: #F5F0EC;
}

.inst_subtitle>a{
    background-color: #F5F0EC;
    text-decoration: none;
    padding: 10px 24px;
    border-radius: 50px;
    border: 1px solid #1B5B31;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1B5B31;    
    transition: 0.15s ease-in-out;
}

.inst_subtitle>a:hover{
    color: #fff;
    border: 1px solid #fff;
    background-color: #1B5B31;    
    transition: 0.15s ease-in-out;
}


/* footer */

.footer{
    padding: 80px 200px;
    background-color: #111;
    color: #F5F0EC;
}

.footer_block-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 62px;
}

.footer_title>p{
    margin: 0;
}

.footer_subtitle{
    display: flex;
    align-items: center;
}

.footer_subtitle>p{
    margin: 0;
    font-size: 16px;
}

.footer_btn{
    padding: 14px 24px;
    font-size: 16px;
    border: 0;
    border-radius: 50px;
    border: 1px solid #1B5B31;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1B5B31;
    margin-left: 24px;
    transition: 0.15s ease-in-out;
}

.footer_btn:hover{
    border: 1px solid #F5F0EC;
    color: #F5F0EC;
    background-color: #111;
    transition: 0.15s ease-in-out;
}

.footer_stick{
    width: 100%;
    border-top: 1px solid #F5F0EC;
    margin-bottom: 62px;
}

.footer_block-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;
}

.footer_link{
    display: flex;
    align-items: center;
}

.footer_link>a{
    color: #F5F0EC;
    text-decoration: none;
    margin-right: 48px;
}

.footer_link>a:last-child{
    margin: 0;
}

.footer_kontakt{
    display: flex;
    align-items: center;
}

.footer_kontakt>a{
    color: #F5F0EC;
    text-decoration: none;
}

.footer_kontakt>a:last-child{
    margin-left: 48px;
}

.footer_block-3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_block-3>p{
    margin: 0;
}

.footer_madeby{
    display: flex;
    align-items: center;
}

.footer_madeby>p{
    margin: 0 16px 0 0;
}