*{
    font-family: "Inter";
}

body{
    color: #111;
}

header{
    padding: 0 90px;
}

.navbar{
    background-color: #fff;
    padding: 0;
    height: 70px;
}

.container-fluid{
    background-color: #fff;
    padding: 0;
}

.bg-body-tertiary {
    --bs-bg-opacity: 0;
}

.navbar-nav{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar-flex{
    justify-content: flex-end;
}

.form-control{
    display: none;
}

.d-flex{
    display: flex;
    align-items: center;
}

.d-flex>input{
    display: none;
}

.search{
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search:hover{
    background-color: #fff;
}


/* main */


.main{
    font-family: "Inter";
    display: flex;
    background-color: #DCC1AB;
}

.main_block{
    width: 57%;
    padding: 150px 0 0 90px;
}

.block_inf>h2{
    font-family: "Montserrat";
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 44px;
}

.block_inf>p{
    font-size: 16px;
    margin-bottom: 72px;
}

.block_btn{
    display: flex;
}

.btn_kontakt{
    padding: 14px 24px;
    border-radius: 50px;
    border: 1px solid #1B5B31;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1B5B31;
    margin-right: 36px;
}

.btn_kontakt:hover{
    background-color: #1B5B31;
    color: #F5F0EC;
}

.btn_realizacje{
    padding: 14px 24px;
    border-radius: 50px;
    border: 1px solid #1B5B31;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1B5B31;
    margin-right: 36px;
}

.btn_realizacje:hover{
    background-color: #1B5B31;
    color: #F5F0EC;
}

.carousel{
    width: 43%;
}

.carousel-item>img {
    height: 800px;
    max-height: 800px;
}

.carousel__control-prev{
    left: 76%;
}

.carousel__control-next{
    right: 0px;
}

.carousel__control-next, .carousel__control-prev{
    position: absolute;
    z-index: 1;
    bottom: 0px;
    height: 100px;
    background-color: #F5F0EC;
    width: 12%;
    padding: 0;
    text-align: center;
    opacity: 1;
    border: 0;
    /* transition: opacity .15s ease; */
}

.carousel__control-next:hover, .carousel__control-prev:hover,
.carousel__control-next:focus, .carousel__control-prev:focus,
.carousel__control-next:active, .carousel__control-prev:active {
    background-color: #F5F0EC;
    opacity: 0.9;
    /* transition: opacity .15s ease; */
}

.carousel__control-next>img{
    transform: rotate(180deg);
}



/* oferta */

.oferta{
    background-color: #F5F0EC;
    padding: 120px 0 160px;
}

.oferta_text{
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.oferta_subtitle{
    font-weight: 400;
    font-size: 12px;
    color: #1B5B31;
}

.oferta_title{
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 48px;
    display: flex;
}

.oferta_title>p{
    font-family: "Inter";
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
}

.oferta_desc{
    margin: 32px 0 96px;
    font-size: 16px;
}

.block_card{
    width: 100%;
    padding: 0 90px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card{
    width: 25%;
    padding: 50px 28px;
    background-color: #fff;
    color: #111;
    border: 0;
    border-radius: 28px;
}
/* 
.card:nth-child(2){
    margin: 0 64px;
} */

.card>img{
    width: 44px;
    height: 44px;
    margin-bottom: 32px;
}

.card>h4{
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 12px;
}

.card>p{
    font-size: 14px;
    margin-bottom: 63px;
}

/* aboutus */

.aboutus{
    width: 100%;
    display: flex; 
    background-color: #1B5B31;  
}

.aboutus_image{
    width: 45%;
    background-image: url(../img/Photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutus_info{
    width: 55%;
    padding: 135px 90px 135px 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.aboutus_subtitle{
    font-size: 12px;
    color: #F5F0EC;
    margin-bottom: 16px;
}

.aboutus_title{
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 48px;
    line-height: 115%;
    margin-bottom: 40px;
    color: #F5F0EC;
}

.aboutus_title>i{
    font-family: "Inter";
    font-style: italic;
    color: #F5F0EC;
}

.aboutus_desc{
    font-size: 16px;
    margin-bottom: 72px;
    color: #F5F0EC;
}

.aboutus_btn{
    padding: 14px 24px;
    border-radius: 50px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: 36px;
}

.aboutus_btn:hover{
    color: #1B5B31;
    background-color: #fff;
}

/* Realizacje */

.realizacje{
    background-color: #DCC1AB;
    padding-top: 120px;
}

.realizacje_text{
    margin: 0 0 96px 160px;
}

.realizacje_text>p{
    font-size: 12px;
    color: #1B5B31;
    margin-bottom: 16px;
}

.realizacje_title{
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 48px;
    line-height: 115%;
}

.realizacje_title>i{
    font-family: "Inter";
    font-style: italic;
}















.inst{
    padding: 60px 200px;
    background-color: #F5F0EC;
}

.inst_block{
    background-color: #1B5B31;
    padding: 120px 110px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.inst_title{
    font-family: "Montserrat";
    font-size: 40px;
    color: #F5F0EC;
}

.inst_title>i{
    font-family: "Inter";
    font-style: italic;
    color: #F5F0EC;
}

.inst_subtitle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inst_subtitle>p{
    color: #F5F0EC;
}

.inst_subtitle>a{
    background-color: #F5F0EC;
    text-decoration: none;
    padding: 10px 24px;
    border-radius: 50px;
    border: 1px solid #1B5B31;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1B5B31;
}

.inst_subtitle>a:hover{
    color: #fff;
    border: 1px solid #fff;
    background-color: #1B5B31;
}


.footer{
    padding: 80px 200px;
    background-color: #111;
    color: #F5F0EC;
}

.footer_block-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_subtitle{
    display: flex;
    align-items: center;
}

.footer_subtitle>p{
    margin: 0;
    font-size: 16px;
}

.footer_btn{
    padding: 14px 24px;
    font-size: 16px;
    border: 0;
    border-radius: 50px;
    border: 1px solid #1B5B31;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1B5B31;
    margin-left: 24px;
}

.footer_btn:hover{
    border: 1px solid #F5F0EC;
    color: #F5F0EC;
    background-color: #111;
}
